---
layout: base.njk
title: About
activeNav: about
---
<main class="about">
  <div class="about-content">
    <p>Justin Lawes is a freelance designer and animator based in Portland, OR. He's worked with lots of awesome studios such as Buck, Giant Ant, Hornet, Oddfellows, Google Creative Lab, and Pentagram.</p>
    <p>He's available for remote work so email him if you'd like to make something wiggle. <a href="mailto:justin.lawes@gmail.com">justin.lawes@gmail.com</a></p>

    <div class="about-details">
      <div>
        <h3>Select Studios</h3>
        <ul>
          <li>Buck</li>
          <li>Giant Ant</li>
          <li>Oddfellows</li>
          <li>Gunner</li>
          <li>Hobbes</li>
          <li>Hornet</li>
          <li>Google Creative Lab</li>
          <li>Pentagram</li>
          <li>Not To Scale</li>
          <li>Los York</li>
          <li>Firstborn</li>
          <li>Ordinary Folk</li>
          <li>Smith & Diction</li>
        </ul>
      </div>
      <div>
        <h3>Select Clients</h3>
        <ul>
          <li>Apple</li>
          <li>Airbnb</li>
          <li>Strava</li>
          <li>Google</li>
          <li>PROOF</li>
          <li>charity: water</li>
          <li>Facebook</li>
          <li>Bike New York</li>
          <li>Superhuman</li>
          <li>Block</li>
        </ul>
      </div>
      <div>
        <h3>Social</h3>
        <ul>
          <li><a href="https://instagram.com/justinlawes">Instagram</a></li>
          <li><a href="https://twitter.com/justinlawes">Twitter</a></li>
          <li><a href="https://vimeo.com/justinlawes">Vimeo</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
