---
layout: base.njk
title: About
activeNav: about
---
<main id="main" class="about">
  <div class="about-content">
    <p>Justin Lawes is a freelance motion designer based in Portland, OR, working with studios like Buck, Giant Ant, and Pentagram. He moves fluidly between 2D and 3D, working in After Effects, Cinema 4D, and Houdini. When he's not animating, he's writing albums and composing music for animation.</p>
    <p>Reach out if you'd like to make something wiggle. <a href="mailto:justin.lawes@gmail.com">justin.lawes@gmail.com</a></p>

    <hr class="about-separator">

    <div class="about-details">
      <div>
        <h3>Select Studios</h3>
        <ul>
          <li>2x4</li>
          <li>Buck</li>
          <li>Firstborn</li>
          <li>Giant Ant</li>
          <li>Google Creative Lab</li>
          <li>Gunner</li>
          <li>Hobbes</li>
          <li>Hornet</li>
          <li>Los York</li>
          <li>Not To Scale</li>
          <li>Oddfellows</li>
          <li>Ordinary Folk</li>
          <li>Pentagram</li>
          <li>Smith & Diction</li>
        </ul>
      </div>
      <div>
        <h3>Select Clients</h3>
        <ul>
          <li>Airbnb</li>
          <li>Apple</li>
          <li>Bike New York</li>
          <li>Block</li>
          <li>charity: water</li>
          <li>Facebook</li>
          <li>Google</li>
          <li>PROOF</li>
          <li>Strava</li>
          <li>Superhuman</li>
        </ul>
      </div>
      <div>
        <h3>Social</h3>
        <ul>
          <li><a href="https://instagram.com/justinlawes">Instagram</a></li>
          <li><a href="https://vimeo.com/justinlawes">Vimeo</a></li>
          <li><a href="https://x.com/justinlawes">X</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
